<h1>Hello :D From home partial</h1>
<div>
<ng-map default-style="true" class="map" zoom="13" center="[44.822835, -93.355573]">
      <!-- <p ng-repeat = "x in results">{{x.blatitude}},{{x.blongitude}}</p> -->
      <marker position=[{{test.latitude}},{{test.longitude}}]></marker>
      <!-- This is my starting point-->
      <marker ng-repeat="x in results" position=[{{x.blatitude}},{{x.blongitude}}]>
      </marker>
</ng-map>
<!-- <div ng-include="'#/results'"></div> -->
</div>


<div ng-include="'/public/views/partials/resultsPage.html'"></div>
